body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Home {
  text-align: center;
}

.Home-logo {
  animation: Home-logo-spin infinite 20s linear;
  height: 100px;
}

.Home-header {
  background-color: #222;
  padding: 2rem;
  color: white;
}

.Home-intro {
  font-size: large;
}

.Home-resources {
  list-style: none;
}

.Home-resources>li {
  display: inline-block;
  padding: 1rem;
}

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}